<div class="ui container" style="margin-top: 8px;" *ngIf="info != undefined">
	<h3>
		<a [routerLink]="['/user', username]">{{username}}</a> / 
		<a [routerLink]="['/', username, reponame]">{{reponame}}</a>
	</h3>
	<p>{{info.description}}</p>
</div>
<div class="ui container" style="margin-top: 8px;">
	<div class="ui tabular menu">
		<a class="item" [routerLinkActive]="['active']" routerLink="code">
			Code
		</a>
		<a class="item" [routerLinkActive]="['active']" routerLink="issues">
			Issues
		</a>
		<a class="item" [routerLinkActive]="['active']" *ngIf="username == userService.getUsername()" routerLink="settings">
	    	Settings
		</a>
	</div>
</div>

<router-outlet></router-outlet>