<h3 class="ui top attached header">All Issues</h3>
<div class="ui attached segment grid">
	<div class="row">
		<div class="ui input column eight wide left">
			<input type="text" class="ui text" placeholder="Search issues..." />
			<input type="button" class="ui button" value="Search">
		</div>
		<div class="column eight wide left">
			<input type="button" routerLink="create" value="New Issue" class="ui button positive" style="float: right;" />
		</div>
	</div>
	<div class="row">
		<div class="ui column sixteen wide">
			<div class="ui info message">
				<div class="header">No issues created yet.</div>
			</div>
		</div>
	</div>
</div>