<div class="ui container two column grid" style="margin-top: 18px;">
	<div class="column">
		<h2>Create a new repository</h2>
		<form class="ui form">
			<div class="field">
				<label>Repository name</label>
				<input type="text" name="name">
			</div>
			<div class="field">
				<label>Description</label>
				<input type="text" name="name">
			</div>
			<div class="inline field">
				<input tabindex="0" class="hidden" type="radio" name="visibility" checked>
				<label>Public</label>
			</div>
			<div class="inline field">
				<input tabindex="0" class="hidden" type="radio" name="visibility">
				<label>Private</label>
			</div>
			<button class="ui button">Create</button>
		</form>
	</div>
</div>