<div class="ui container two column grid" style="margin-top: 8px;">
	<div class="column">
		<h2>Create a new repository</h2>
		<form class="ui form">
			<div class="field">
				<label>Repository name</label>
				<input type="text" name="name" #name>
			</div>
			<div class="field">
				<label>Description</label>
				<input type="text" name="name" #description>
			</div>
			<div class="inline field">
				<input tabindex="0" class="hidden" type="radio" id="public" name="visibility" checked #public>
				<label for="public">Public</label>
			</div>
			<div class="inline field">
				<input tabindex="0" class="hidden" type="radio" id="private" name="visibility">
				<label for="private">Private</label>
			</div>
			<button class="ui positive button" (click)="createRepo(name, description, public)">Create</button>
		</form>
		<div class="ui negative message" *ngIf="error != undefined">
			<div class="header">
				{{error}}
			</div>
		</div>
	</div>
</div>