<h3 class="ui top attached header">Overview</h3>
<div class="ui attached grid stackable segment">
	<div class="row" *ngIf="info != undefined">
		<div class="ui column six wide">
			<div class="ui action input">
				<input value="{{info.url}}" type="text" readonly #URLField>
				<button class="ui teal right labeled icon button" (click)="copyURL(URLField)">
					<i class="copy icon"></i>Copy Clone URL
				</button>
			</div>
		</div>
		<div class="ui column two wide">
			<p><i class="icon history"></i>{{commits}} Commits</p>
			<p><i class="icon code branch"></i>{{branches}} branch</p>
		</div>
		<div class="ui column two wide">
			<p><i class="icon bug"></i>{{issueCount}} Issues</p>
			<p><i class="icon star"></i>{{stars}} Stars</p>
		</div>
		<div class="ui column six wide right aligned">
			<button class="ui button" (click)="starRepo();" *ngIf="!info.starred">
				<i class="icon star"></i>Star
			</button>
			<button class="ui button yellow" (click)="unstarRepo();" *ngIf="info.starred">
				<i class="icon star"></i>Starred
			</button>
			<button class="ui button" routerLink="clone">
				<i class="icon copy"></i>Clone
			</button>
			<!-- <button class="ui green button">
				<i class="icon plus"></i>Upload File
			</button> -->
		</div>
	</div>
</div>

<div class="ui attached segments">
	<div class="ui segment">
		<h3>Files</h3>
	</div>
	<div *ngIf="current != '' && current != undefined" class="ui segment">
		<a [routerLink]="[{path: parent}]">..</a>
	</div>
	<div class="ui segment" *ngIf="files == undefined || files.length == 0">
		<div class="ui info message">
			<div class="header">No files in this directory.</div>
		</div>
	</div>
	<div *ngFor="let f of files" class="ui segment">
		<i class="icon file grey" *ngIf="f.type == 'file'"></i>
		<i class="icon folder grey" *ngIf="f.type == 'dir'"></i>
		<a *ngIf="f.type == 'dir'" [routerLink]="[{path: current + '/' + f.name}]">{{f.name}}</a>
		<a *ngIf="f.type == 'file'" (click)="showFile(current + '/' + f.name)">{{f.name}}</a>
	</div>
</div>

<div *ngIf="displayFile != undefined">
	<h3 class="ui top attached header">{{displayFile}}</h3>
	<div class="ui attached segment">
		<textarea readonly cols="80" rows="20" class="ui field">{{displayContent}}</textarea>
	</div>
</div>