<h3 class="ui top attached header">New Issue</h3>
<div class="ui attached segment grid">
	<div class="row">
		<div class="column ten wide"> 
			<form class="ui form">
				<div class="field"> 
					<div class="ui field required">
						<label>Title</label>
						<input type="text" #title/>
					</div>
					<div class="ui field required">
						<label>Description</label>
						<textarea #description></textarea>
					</div>
					<input type="button" class="ui blue button" value="Submit Issue" (click)="submitIssue(title, description);">
				</div>
			</form>
		</div>
		<div class="column six wide">
			<div class="ui error message" *ngIf="err != undefined">
				<div class="header">{{err}}</div>
			</div>
		</div>
	</div>
</div>