<div class="ui center aligned middle aligned grid">
	<div class="column four wide">
		<h1>Log-In</h1>
		<div class="ui segment left aligned">
			<div class="content">
				<form class="ui form">
					<div class="field">
						<label>Username</label>
						<input type="text" name="username" #username />
					</div>
					<div class="field">
						<label>Password</label>
						<input type="password" name="password" #password />
					</div>
					<button class="ui button" type="submit" (click)="loginButtonPressed(username, password)">Log-In</button>
				</form>
			</div>
		</div>
	</div>
</div>
